<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.project.mapper.JianpanMapper">
    <select id="getAll" resultType="org.lanqiao.project.pojo.Goodsjianpan" parameterType="org.lanqiao.project.pojo.Condition">
        select * from  goodsjianpan
        <where>
            <if test="id != null &amp;&amp; id != 0">
                and id = #{id}
            </if>
            <if test="jname != null &amp;&amp; jname != ''">
                and  jname like concat ('%', #{jname}, '%')
            </if>
            <if test="t_type != null &amp;&amp; t_type != ''">
                and  t_type like concat ('%', #{t_type}, '%')
            </if>
        </where>
        <if test="currentPage != null">
            limit #{currentPage}, #{pageSize}
        </if>
    </select>
    <select id="getJianpanCount" parameterType="org.lanqiao.project.pojo.Condition" resultType="int">
        select count(1) from  goodsjianpan
        <where>
            <if test="id != null &amp;&amp; id != 0">
                and id = #{id}
            </if>
            <if test="jname != null &amp;&amp; jname != ''">
                and  jname like concat ('%', #{jname}, '%')
            </if>
            <if test="t_type != null &amp;&amp; t_type != ''">
                and  t_type like concat ('%', #{t_type}, '%')
            </if>
        </where>
    </select>
    <delete id="deletegoodsjian" parameterType="int">
        delete from goodsjianpan where id = #{id}
    </delete>
    <update id="updatePrice" parameterType="org.lanqiao.project.pojo.Goodsjianpan">
        update goodsjianpan set jlastprice = #{jlastprice},jorgprice = #{jorgprice} where id = #{id}
    </update>




</mapper>