<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
    <!--<link rel="stylesheet" href="./bootstrap/css/bootstrap.css">-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="/js/jquery.min.js" ></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <script type="text/javascript" src="./js/xcity.js"></script>
    <script type="text/javascript" src="js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
</head>
<body>
<table class="layui-table">
    <thead>
    <tr>
        <th>商品编号</th>
        <th>商品图片</th>
        <th>商品名称</th>
        <th>商品价格</th>
    </tr>
    </thead>
    <tbody>
    <!--遍历购物车列表-->
    <tr th:each="paper:${papers}">
        <td th:text="${paper.c_num}"></td>
        <td><img  style="width: 45px;height: 45px" th:src="${paper.g_img}"></td>
        <td th:text="${paper.g_name}"></td>
        <td th:text="${paper.c_price}"></td>
    </tr>
    </tbody>
</table>

<a style="float: right; margin-right: 270px;font-size: larger;text-decoration: none; color: blue" th:href="@{/findcon(condition= 全部订单)}">返回</a>

</body>
</html>