<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <script type="text/javascript" src="./bootstrap/js/bootstrap.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="index">首页</a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" action="/findcon">
          <div class="layui-input-inline">
          <select th:name="condition">
            <option>订单状态查询</option>
            <option >全部订单</option>
            <option >已发货</option>
            <option >未发货</option>
            <option >已取消</option>
            <option >已完成</option>
          </select>
          </div>
          <input type="text" name="conId"  placeholder="订单号查询" autocomplete="off" class="layui-input">
          <button class="layui-btn" type="submit"   lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <span class="x-right" style="line-height:40px" th:text="'共有数据：'+${len} +'条'"> </span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th class="removeit" >订单编号</th>
            <th>收货人</th>
            <th>总金额</th>
            <th>应付金额</th>
            <th>查看详情</th>
            <th>订单状态</th>
            <th>快递公司</th>
            <th >操作</th>
          </tr>
        </thead>
        <tbody>
        <tr th:each="paper:${papers}">
            <td th:text="${paper.id}" hidden="hidden"></td>
            <td th:text="${paper.ddid}"></td>
            <td th:text="${paper.name}"></td>
            <td th:text="${paper.orgp}"></td>
            <td th:text="${paper.lastp}"></td>
            <td><a th:href="@{'/detail?ddid='+${paper.ddid}+'&uid='+${paper.u_id}}">查看</a></td>
            <td th:text="${paper.pscondition}"></td>
            <td th:text="${paper.u_id}" hidden="hidden"></td>
            <td th:text="${paper.kuaidi}"></td>
            <td  class="td-manage">
              <a title="查看" class="update" ><!--onclick="member_update()" -->
                <i class="layui-icon">&#xe63c;</i>
              </a>
              <a th:href="@{/psde(id=${paper.id})}" class="removeit" onclick="return foo();" >
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <!--模态框-->
      <div class="modal fade" tabindex="-1" id="addModal" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <form  role="form" id="addForm" action="conditions" method="post">
                <input type="hidden" id="updatecurrentPageNum" name="currentPage">
                <div class="form-group" style="display: none" >
                  <label for="id" class="control-label">id:</label>
                  <input type="text" class="form-control" id="id" name="id" readonly>
                </div>
                <div class="form-group" >
                  <label for="ddid" class="control-label">订单编号:</label>
                  <input type="text" class="form-control" id="ddid" name="ddid" readonly>
                </div>

                <div class="form-group">
                  <label for="name" class="control-label">姓名:</label>
                  <input type="text" class="form-control" id="name" name="name" readonly>
                </div>

                <div class="form-group">
                  <label for="lastp" class="control-label">实际支付:</label>
                  <input type="text" class="form-control" id="lastp" name="lastp" readonly>
                </div>


                <div class="form-group">
                  <label for="pscondition" class="control-label">订单状态:</label>
                  <select class="form-control" id="pscondition" name="pscondition">
                  </select>
                </div>

                <div class="modal-footer">
                  <input type="button" class="btn btn-default" data-dismiss="modal" value="关闭">
                  <input type="submit" class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });
      //获取下拉栏选中值
      // function func(){
      //     //获取被选中的option标签
      //     var condition = $('select  option:selected').text();
      //     alert(condition)
      // }
      //订单删除
      function foo(){
          if(confirm("确认删除吗？")){
              return true;
              // layer.msg('已删除!',{icon:1,time:1000});
          }
          return false;
      }

      $(".aa").click(function () {
          window.open('detail','','height=100,width=400,top=0,left=0,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no')
      })

      /*订单-修改*/
      $(".update").click(function () {
          var id    = $(this).parent().parent().children('td:eq(0)').text();
          var ddid  = $(this).parent().parent().children('td:eq(1)').text();
          var name  = $(this).parent().parent().children('td:eq(2)').text();
          var orgp  = $(this).parent().parent().children('td:eq(3)').text();
          var lastp = $(this).parent().parent().children('td:eq(4)').text();
          var condition = $(this).parent().parent().children('td:eq(6)').text();
          var kuaidi= $(this).parent().parent().children('td:eq(7)').text();
          //遍历condition
          $("#pscondition option").remove();
          $.ajax({
              url: "/condition",
              data:{"condition":condition},
              success: function (data) {
                  var conditions = eval(data);
                  $.each(conditions, function (index, obj) {
                      $("#pscondition").append("<option>" + obj + "</option>")
                  });
                  $('#addModal').modal({
                      show: true//模态框显示
                  })
              }
          })

              //模态框数据findbyid
              $.ajax({
                  url:"psupd.html",
                  data:{"id":id,"ddid":ddid,"name":name,"lastp":lastp,"pscondition":condition,"kuaidi":kuaidi},
                  success:function (data) {
                      $.each(data,function (name,value) {
                          if (name == "paper") {//name是map的键，value值是map的值
                              $("#id").val(value.id);
                              $("#ddid").val(value.ddid);
                              $("#name").val(value.name);
                              $("#lastp").val(value.lastp);
                              $("#pscondition").val(value.pscondition)
                          }
                      });
                      $('#addModal').modal({
                          show: true//模态框显示
                      })
                  }
              })
      })
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </body>

</html>