
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>用户注册</title>
    <!--<link rel="stylesheet" type="text/css" href="css/style.css" />-->
    <link rel="stylesheet" th:href="@{css/login/style.css}" type="text/css" media="all">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body style="background:url('image/background.jpg') #BCE0FF center 0 no-repeat;background-size: cover">
<script type="text/javascript">
    function checkUserName(obj) {
        var username = obj;
        // username.length<3 || username.length>18
        if( username.trim().length == 0) {
            var checkUserNameResult = document.getElementById("checkUserNameResult");
            checkUserNameResult.innerHTML = "请输入正确的用户名";
            // username.focus()
        }else if (username.trim().length !=0){
            var checkUserNameResult = document.getElementById("checkUserNameResult");
            checkUserNameResult.innerHTML = "";
        }
        else {
            checkUserNameResult.innerHTML = "";
        }
    }

    function checkPassword(obj) {
        var password = obj;
        var checkPasswordResult = document.getElementById("checkPasswordResult");
        if (password.trim().length == 0) {
            checkPasswordResult.innerHTML = "密码不能为空";
            // obj.focus();
        }else if (password.trim().length < 6){
            checkPasswordResult.innerHTML = "密码太过简单，请重新输入！";
            // obj.focus();
        } else {
            checkPasswordResult.innerHTML = "";
        }
    }
    function checkemail(obj) {
        var email=obj;
        //对电子邮件的验证
        var myreg = /[_a-zA-Z\d\-\.]+@[_a-zA-Z\d\-]+(\.[_a-zA-Z\d\-]+)+$/;
        if(!myreg.test(obj)){
            emailResult.innerHTML = "请输入有效的E_mail！";
            // obj.focus();
            return false;
        }else{
            emailResult.innerHTML = "";
            return true;
        }
    }
    function checktel(obj) {
        var tel = obj;
        var myreg1 = /^0?1[3|4|5|8][0-9]\d{8}$/;
        if (!myreg1.test(obj)) {
            telResult.innerHTML = "请输入有效的电话号码！";
            // obj.focus();
            return false;
        }else{
            telResult.innerHTML = "";
            return true;
        }
    }
    function check(form){
        if (form.username.length=='' || form.password.value=='' || form.email.value==''|| form.tel.value==''|| form.address.value==''){
            alert("请输入您的信息！！！");
            return false;
        }
        alert("注册成功")
        return true;
    }

</script>
<h1>欢迎注册</h1>
<div  class="container w3layouts agileits">
    <div  class="register w3layouts agileits"  >
        <form action="zhuce" method="post" id="form1" name="login" onsubmit="return check(this)">
            <div  >
                <input type="text" name="nickname"  onblur="checkUserName1(this.value);" placeholder="昵称"/><br>
                <div id="checkUserNameResult1" style="color: red "></div>
            </div>

            <div  >
                <input type="text" name="username"  onblur="checkUserName(this.value);" placeholder="用户名" /><br><br>
                <div id="checkUserNameResult" style="color: red "></div>
            </div>


            <div  >
                <input type="password"  name="password"  onblur="checkPassword(this.value);" placeholder="密码"  /><br>
                <div id="checkPasswordResult" style="color: red " ></div>
            </div>

            <div >
                <input type="text"   name="tel" onblur="checktel(this.value);" placeholder="联系电话" /><br>
                <div id="telResult" style="color: red "></div>
            </div>

            <div >
                <input type="text"   name="email" onblur="checkemail(this.value);" placeholder="电子邮箱" style="height: 25px"/><br>
                <!--<span id="emailResult" ></span>-->
                <div id="emailResult" style="color: red "></div>
            </div>


            <div class="date  form_datetime" >
                <label ><strong style="color: white">生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日:</strong></label>
                <input type="date"  name="hiredate"  id="test1" value="2018-01-13"  />
            </div>



            <div style="margin-top: 10px;margin-left: 35px">
                <div  style="color: black">
                    <input style="float: left" type="checkbox" name="terms" />
                    <p style="color: white;float: left">我同意 <a href="http://www.baidu.com">用户协议</a></p>
                </div>
            </div>
            <div class="send-button w3layouts agileits"  style="margin-left: 60px">
                <input type="submit"  value="注册" id="save" onclick="return check(login)" />
            </div>
        </form>
        <div class="clear"></div>

    </div>
    <div class="clear"></div>
</div>

</body>
</html>